* {
    margin: 0;
}
body {
    background-image:url(images/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-repeat: repeat-y;
}
header {
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.logo img {
    width: 150px;
    align-items: center;
}
.img img {
    width: 750px;
    display: ;
}
header nav ul {
    color: azure;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}
ul a {
    text-decoration: none;
    color: azure;
}
header nav ul li {
padding: 20px;
border-radius: 7px;

    }
    header nav ul li:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        transition: 800ms;
        
    }
.container {
   display: flex;
   flex-wrap:wrap;

    }
.container .shoename h1 {
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 60px black, 1px 0px 1px black, -1px 0px 1px black , 7px 1px 1px black, 0px -1px 1px black;
    text-align: center;
}
.container .shoename h3 {
    align-self: baseline;
    padding: 30px;
    font-size: 30px;
    text-shadow: 0px 0px 60px black, 1px 0px 1px black, -1px 0px 1px black , 7px 1px 1px black, 0px -1px 1px black;
    color: azure;
}
.buy {
    color: azure;
    font-size: 30px;
    align-self: flex-start;
    background-color:#fffafa ;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}
.buy a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(71, 71, 71);
}
.buy:hover  {
    opacity: 0.7;
}







@media (max-width:758px) {
.container .img {
    display: flex;
    justify-content: center;
}
.container .img img {
    width: calc(100% - 33%);

    }
    .container .shoename h1 {
font-size: 40px;
padding: 20px;
    }
}